SECRET_KEY=change-me
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1
TIME_ZONE=UTC

POSTGRES_DB=exam_api
POSTGRES_USER=exam_user
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=db
POSTGRES_PORT=5432


# sii vous utilisez mac 
#POSTGRES_DB=exam_api
#POSTGRES_USER=postgres
#POSTGRES_PASSWORD=Mariame1
#POSTGRES_HOST=db   
#POSTGRES_PORT=5432 