# Fichiers de configuration & secrets
.env
*.env

# Base de données locale
db.sqlite3
*.sqlite3

# Fichiers d'environnement virtuel Python
venv/
.venv/
env/

# Fichiers compilés Python et caches
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/

# Couverture de test & logs
.coverage
htmlcov/
*.log

# Fichiers statiques générés
staticfiles/

# Fichiers d'IDE et du système d'exploitation
.DS_Store
Thumbs.db
.vscode/
.idea/

